/* Чорний колір #212121 */
/* Абзац #757575 */
/* Білий колір #FFFFFF */
/* Синій колір #2196F3 */

:root {
  --features-works-bg-color: #f5f5f5;
  --header-bg-color: #ffffff;

  --accent-color: #2196f3;
  --black-color: #000000;
  --primary-text-color: #212121;
  --title-text-color: #757575;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--features-works-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}

.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--header-bg-color);
}
.main-nav {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* justify-content: center; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--header-bg-color);
}

.item {
  list-style-type: none;
}

.list {
  text-decoration: none;
}
/* logo */
.logo-link {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  margin-left: 215px;
}
/* logo */

.logo-link:focus {
  color: var(--accent-color);
  background: var(--header-bg-color);
}
/* logo */
.logo-header {
  font-family: "Raleway", sans-serif;
  color: var(--black-color);
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* logo */
.logo-header:focus {
  color: var(--primary-text-color);
  background: var(--header-bg-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item + .item {
  margin-right: 50px;
}

.site-nav .link {
  display: flex;
  /* padding-top: ; */
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Portfolio, Contacts link */
.link {
  color: var(--primary-text-color);
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Studio */
.studio-link {
  color: var(--primary-text-color);
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .studio-link.current {
  color: var(--accent-color);
}

.studio-link:hover,
.studio-link:focus {
  color: var(--accent-color);
}

/* Contacts */
.auth-nav {
  display: flex;
  align-items: center;
}
.auth-nav .list {
  display: flex;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.email-link {
  font-family: "Roboto";
  font-style: normal;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.email-link:hover,
.email-link:focus {
  color: var(--accent-color);
}

.tel-link {
  color: var(--title-text-color);
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 215px;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* Buttons */

.hero-button:focus,
.hero-button:hover {
  border: 2px solid var(--accent-color);
  color: #f5f4fa;
  background: rgba(33, 150, 243, 1);
  text-transform: none;
  border-radius: 4px;
  border-color: var(--accent-color);
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-menu li {
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-menu h2 {
  margin-top: 20px;
}
.portfolio-menu p {
  margin-top: 4px;
}

.portfolio-filter {
  display: flex;
  margin-left: 512px;
  margin-right: 513px;
  justify-content: center;
  align-content: center;
}
.portfolio-filter li {
  margin-right: 8px;
  background-color: var(--header-bg-color);
}
.portfolio-button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--header-bg-color);
}

/* Project */
.project1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project2,
.project3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
}

.project-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* Hero */
.section.hero {
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--features-works-bg-color);
  width: 698px;
  margin-left: auto;
  margin-right: auto;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  margin-top: 30px;
  letter-spacing: 0.06em;
  color: var(--header-bg-color);
}

.content {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}
/* features */

/* .features {
  display: flex;
  background-color: var(--header-bg-color);
  list-style-type: none;
} */
/* .features h3,
p {
  margin-right: 30px;
}

.features-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.features-text {
  align-content:center
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */
.features-list {
  display: flex;
  gap: 30px;
  background-color: var(--header-bg-color);
  list-style-type: none;
}
.features-list > .item {
  width: 270px;
  max-height: 141px;
}

.features-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  display: flex;
  align-content: flex-start;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  max-width: 270px;
}
/* What-we-do */
.what-we-do img {
  margin-right: 30px;
}

.what-we-do {
  display: flex;
  background-color: var(--header-bg-color);
}
.what-we-do-section {
  padding-bottom: 94px;
  background-color: var(--header-bg-color);
}

.what-we-do-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Team */
.team {
  background-color: #f5f4fa;
}
.team-menu {
  display: flex;
}
/* .team-menu img{
    
} */
.team-menu li {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--header-bg-color);
}
.team-menu h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.team-menu p {
  align-items: center;
  margin-top: 10px;
  padding-bottom: 30px;
}
.team-menu > .hide {
  background-color: var(--header-bg-color);
}
.team-main-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-activity {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
  background: #2f303a;
}
.address {
  padding-top: 20px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  list-style-type: none;
  padding-bottom: 20px;
}

.logo:focus {
  color: var(--accent-color);
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}
.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-adress {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

.footer-telephone {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  text-decoration: none;
  margin-top: 9px;
}

.footer-email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  text-decoration: none;
  margin-top: 9px;
}

.footer-email:hover,
.footer-email:focus {
  color: var(--accent-color);
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: var(--accent-color);
}
